




<!-- Revolution Slider -->
<div class="header">
  <div class="header-particles" id="particles-js"></div>
  <div class="slider-revolution">
     <div class="rev_slider_wrapper">
        <div id="slider4" class="rev_slider head-overlay" data-version="5.0">
           <ul>	<!-- SLIDE  -->
              <li data-index="rs-266"
                  data-transition="zoomout"
                  data-slotamount="default"
                  data-easein="Power3.easeIn"
                  data-easeout="Power3.easeIn"
                  data-masterspeed="3000"
                  data-thumb="../../assets/images/vimeobg-100x50.jpg"
                  data-rotate="0"
                  data-saveperformance="off"
                  data-title="Intro"
                  data-description="">

                 <!-- LAYER NR. 1 -->
                 <div class="tp-caption cap-title font-accident-one-normal tp-resizeme rs-parallaxlevel-1"
                      data-x="center"
                      data-y="center"
                      data-basealign="grid"
                      data-voffset="10"
                      data-hoffset="0"
                      data-width=”auto”
                      data-height=”auto”
                      data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                      data-transform_idle="o:1;"
                      data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeIn;"

                      data-start="1400"
                      data-splitin=”none”
                      data-splitout=”none”
                      data-responsive_offset=”on”
                      data-fontsize="['72','34','30','20']"
                      data-lineheight="['120','100','90','80']"
                      style="z-index: 2;">Year In Review
                 </div>

                 <!-- LAYER NR. 3 -->
                 <div class="tp-caption cap-sub-subtitle font-regular-normal tp-resizeme rs-parallaxlevel-1"
                      data-x="center"
                      data-y="center"
                      data-basealign="grid"
                      data-voffset="60"
                      data-hoffset="0"
                      data-width=”auto”
                      data-height=”auto”
                      data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                      data-transform_idle="o:1;"
                      data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeIn;"

                      data-start="950"
                      data-splitin=”none”
                      data-splitout=”none”
                      data-responsive_offset=”on”
                      style="z-index: 2;">A look back at Trump's first year as president
                 </div>


                 <!-- LAYER NR. 5 -->
                 <div class="tp-caption rs-parallaxlevel-0 btn btn-default btn-lg btn-gr btn-inverse btn-transparent"
                 id="slide-266-layer-7"
                 data-x="['center','center','center','center']"
                 data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']"
                 data-voffset="240"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeIn;"
                 data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeIn;"
                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                 data-start="3000"
                 data-splitin="none"
                 data-splitout="none"
                 data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                 data-responsive_offset="on"
                 data-responsive="off"

                 style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                 cofefee
               </div>
              </li>
           </ul>
           <div class="tp-bannertimer"></div>
        </div>

     </div>
  </div>
  <!-- /Revolution Slider -->


  <%#= render 'learn_more' %>

</div>
