<div class="header">
    <div class="header-particles" id="particles-js"></div>
    <!-- <div class="header-content">
        <h1>YEAR IN REVIEW</h1>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id='header-main-year'>YEAR IN REVIEW</h1>
          <h2 id='subheader-main-year'>Modern day presidential blah blah blah</h1>
            <!-- <div id='button-main-year' class="btn btn-success col-md-2 col-md-offset-5"> -->
              <%#= button_to 'yahyahyah','#first-graph' %>
              <a href="/year-in-review#first-graph">testing</a>
            <!-- </div> -->
        </div>
      </div>
    </div>
</div>
