




<!-- Revolution Slider -->
<div class="header">
  <div class="header-particles" id="particles-js"></div>
  <div class="slider-revolution">
     <div class="rev_slider_wrapper">
        <div id="slider4" class="rev_slider head-overlay" data-version="5.0">
           <ul>	<!-- SLIDE  -->
              <li data-index="rs-266"
                  data-transition="zoomout"
                  data-slotamount="default"
                  data-easein="Power3.easeIn"
                  data-easeout="Power3.easeIn"
                  data-masterspeed="3000"
                  data-thumb="../../assets/images/vimeobg-100x50.jpg"
                  data-rotate="0"
                  data-saveperformance="off"
                  data-title="Intro"
                  data-description="">

                 <!-- LAYER NR. 1 -->
                 <div class="tp-caption cap-title font-accident-one-normal tp-resizeme rs-parallaxlevel-1"
                      data-x="center"
                      data-y="center"
                      data-basealign="grid"
                      data-voffset="10"
                      data-hoffset="0"
                      data-width=”auto”
                      data-height=”auto”
                      data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                      data-transform_idle="o:1;"
                      data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeIn;"

                      data-start="1400"
                      data-splitin=”none”
                      data-splitout=”none”
                      data-responsive_offset=”on”
                      data-fontsize="['72','34','30','20']"
                      data-lineheight="['120','100','90','80']"
                      style="z-index: 2;">Year In Review
                 </div>

                 <!-- LAYER NR. 3 -->
                 <div class="tp-caption cap-sub-subtitle font-regular-normal tp-resizeme rs-parallaxlevel-1"
                      data-x="center"
                      data-y="center"
                      data-basealign="grid"
                      data-voffset="60"
                      data-hoffset="0"
                      data-width=”auto”
                      data-height=”auto”
                      data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                      data-transform_idle="o:1;"
                      data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeIn;"

                      data-start="950"
                      data-splitin=”none”
                      data-splitout=”none”
                      data-responsive_offset=”on”
                      style="z-index: 2;">A look back at Trump's first year as president
                 </div>


                 <!-- LAYER NR. 5 -->
                 <div class="tp-caption rs-parallaxlevel-0 btn btn-default btn-lg btn-gr btn-inverse btn-transparent"
                 id="slide-266-layer-7"
                 data-x="['center','center','center','center']"
                 data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']"
                 data-voffset="240"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeIn;"
                 data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeIn;"
                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                 data-start="3000"
                 data-splitin="none"
                 data-splitout="none"
                 data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                 data-responsive_offset="on"
                 data-responsive="off"

                 style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                 cofefee
               </div>
              </li>
           </ul>
           <div class="tp-bannertimer"></div>
        </div>

     </div>
  </div>
  <!-- /Revolution Slider -->
</div>


  <%#= render 'learn_more' %>


  <div id="content" class="bg-color00">
    <!-- Counts Block -->
    <section id="counts" class="counts e-block-ins e-bg-light-texture pt-section" data-stellar-background-ratio="0.5" data-name="Counts">
       <div class="container">
          <div class="count-container row">
             <div class="col-md-12 count">
                <div class="count-icon">
                   <!-- <i class="flaticon-photo246"></i> -->
                </div>
                <span class=".integers digit font-accident-two-bold">2500</span>
                <div class="count-text font-accident-one-bold">Tweets</div>
                <div class="divider-dynamic"></div>
             </div>
          </div>
       </div>
    </section>
    <!-- /Counts Block -->


    <!-- Services Block -->
    <section id="services" class="e-block e-block-centered e-block-skin features-block pt-section" data-name="Services">
       <div class="container">
          <div class="row">
             <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="10">
                <h2 class="font-accident-two-bold-italic">Each dot represents one tweet</h2>
                <h5 class="font-accident-one-bold title uppercase hovercolor">That's one tweet every 3.5 hours</h5>
             </div>
             <div class="col-md-12 dividewhite2"></div>
             <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10"><div id='howdy' class="img-responsive"></div></div>
          </div>
       </div>
    </section>
    <!-- /Services Block -->


    <!-- Photocard Block -->
  <section id="photocard" class="e-bg-light photocard-block pt-section" data-name="Learn More">
     <div>
        <div class="photocard-wrap animated fadeIn clearfix animation-action">
           <div class="photocard-image-wrap  column-half column-float-right">
              <div class="photocard-image-container twitter-tweet-photocard">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Democrats have shut down our government in the interests of their far left base. They don’t want to do it but are powerless!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/955428815777533952?ref_src=twsrc%5Etfw">January 22, 2018</a></blockquote>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

              </div>
           </div>
           <div class="photocard-content-wrap dark column-float-left column-half" data-stellar-background-ratio="0.5">
              <div class="photocard-contents-inner text-align-center wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="10">
                 <div class="heading-block">
                    <h2 class="photocard-title font-accident-two-bold-italic ">
                       Most Favorited
                    </h2>
                    <h3 class="photocard-subtitle font-regular-light">
                       600,000 favorites
                    </h3>
                 </div>
                 <div class="photocard-contents small">
                    ...
                 </div>
                 <div class="dividewhite3"></div>
                 <%#= (link_to 'Login With Spotify', '/auth/spotify', class: "btn btn-default btn-gr") if !logged_in? %>
              </div>
           </div>
        </div>
     </div>

     <div class="clearfix">
        <div class="photocard-wrap animated fadeIn clearfix animation-action">
           <div class="photocard-image-wrap  column-half column-float-left">
             <div class="photocard-image-container twitter-tweet-photocard">
               <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Democrats have shut down our government in the interests of their far left base. They don’t want to do it but are powerless!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/955428815777533952?ref_src=twsrc%5Etfw">January 22, 2018</a></blockquote>
                 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

             </div>
           </div>
           <div class="photocard-content-wrap dark column-float-right column-half" data-stellar-background-ratio="0.5">
              <div class="photocard-contents-inner text-align-center wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
                 <div class="heading-block">
                    <h2 class="photocard-title font-accident-two-bold-italic ">
                       Most Commented
                    </h2>
                    <h3 class="photocard-subtitle font-regular-light">
                       150,000 Replies
                    </h3>
                 </div>
                 <div class="photocard-contents small">
                    ...
                 </div>
                 <div class="dividewhite3"></div>
                 <%#= (link_to 'Login With Spotify', '/auth/spotify', class: "btn btn-default btn-gr") if !logged_in?%>
              </div>
           </div>
        </div>
     </div>

     <div>
        <div class="photocard-wrap animated fadeIn clearfix animation-action">
           <div class="photocard-image-wrap  column-half column-float-right">
              <div class="photocard-image-container twitter-tweet-photocard">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Democrats have shut down our government in the interests of their far left base. They don’t want to do it but are powerless!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/955428815777533952?ref_src=twsrc%5Etfw">January 22, 2018</a></blockquote>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

              </div>
           </div>
           <div class="photocard-content-wrap dark column-float-left column-half" data-stellar-background-ratio="0.5">
              <div class="photocard-contents-inner text-align-center wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="10">
                 <div class="heading-block">
                    <h2 class="photocard-title font-accident-two-bold-italic ">
                       Most Retweeted
                    </h2>
                    <h3 class="photocard-subtitle font-regular-light">
                       300,000 Retweets
                    </h3>
                 </div>
                 <div class="photocard-contents small">
                    ...
                 </div>
                 <div class="dividewhite3"></div>
                 <%#= (link_to 'Login With Spotify', '/auth/spotify', class: "btn btn-default btn-gr") if !logged_in? %>
              </div>
           </div>
        </div>
     </div>

     <!-- Additional Feature Photocard -->
     <!-- <div>
        <div class="photocard-wrap animated fadeIn clearfix animation-action">
           <div class="photocard-image-wrap  column-half column-float-right">
              <div class="photocard-image-container"
                   style="background-image:url(<%= image_path 'index-red-flash.png' %>); background-color: #8e44ad;"></div>
           </div>
           <div class="photocard-content-wrap dark column-float-left column-half" data-stellar-background-ratio="0.5">
              <div class="photocard-contents-inner text-align-center wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="10">
                 <div class="heading-block">
                    <h2 class="photocard-title font-accident-two-bold-italic ">
                       We the best
                    </h2>
                    <h3 class="photocard-subtitle font-regular-light">
                       Another one
                    </h3>
                 </div>
                 <div class="photocard-contents small">
                    Stay focused. The key to more success is to have a lot of pillows. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. I’m up to something. They key is to have every key, the key to open every door. They key is to have every key, the key to open every door. We the best. Fan luv. Look at the sunset, life is amazing, life is beautiful, life is what you make it. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile.
                 </div>
                 <div class="dividewhite3"></div>
                 <%#= link_to 'Login With Spotify', '/auth/spotify', class: "btn btn-default btn-gr" %>
              </div>
           </div>
        </div>
     </div> -->

  </section>
  <!-- /Photocard Block -->
  </div>
