@import "bootstrap-sprockets";
@import "bootstrap";
@import "tweets";
@import 'font-awesome';
@import 'flaticon/flaticon';
@import 'rs-plugin/css/settings';
@import 'rs-plugin/css/layers.scss';
@import 'mfp/css/magnific-popup.min.scss';
@import 'progresstracker/css/jquery.progresstracker.min.scss';
@import 'offcanvas-menu/css/normalize.min.scss';
@import 'wow/animate';
@import 'style.scss';


body {
  color: #ecf0f1;
  background-color: black;
  background-repeat: no-repeat;
  font-family: 'Changa', sans-serif;
}
.main {
  background-image: url('trump-puke.jpg');
}

.no-tweets {
  color: #ecf0f1;
  background-color: #2980b9;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
}

@media (max-width: 768px) {
  #header-main-question {
      font-size: 42px;
      font-weight: 800;
      text-align: center;
  }
  #header-main-answer {
      font-size: 100px;
      font-weight: 800;
      text-align: center;
  }
  .well {
    top: 100px;
  }
}
