@import "bootstrap-sprockets";
@import "bootstrap";
@import "tweets";
@import "tweet-box";
@import "tool-tip";
@import 'font-awesome';
@import 'flaticon/flaticon';
@import 'rs-plugin/css/settings';
@import 'rs-plugin/css/layers.scss';
@import 'mfp/css/magnific-popup.min.scss';
@import 'progresstracker/css/jquery.progresstracker.min.scss';
@import 'offcanvas-menu/css/normalize.min.scss';
@import 'wow/animate';
@import 'style.scss';


body {
  color: #ecf0f1;
  background-color: black;
  background-repeat: no-repeat;
  font-family: 'Changa', sans-serif;
}
.main {
  background-image: url('trump-puke.jpg');
}

.no-tweets {
  color: #ecf0f1;
  background-color: #2980b9;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
}
@media (max-width: 520px) {
  .d3-tip {
    max-width: 300px;
    padding-left: 0;
  }
  .g-tweet-text {
      font-family: 'Helvetica', arial, sans-serif;
      font-size: 10px;
      font-weight: 100;
      max-width: 300px;
      margin-top: 5px;
      padding-right: 25px;
  }
  .g-trump-mug {
      width: 52px;
      margin-right: 10px;
      border-radius: 4px;
  }
  .g-verified {
      width: 12px;
  }
  .g-username {
      font-weight: bold;
      font-size: 12px;
  }
  .g-handle {
      font-size: 10px;
      opacity: .8;
  }
}
@media (max-width: 1000px) {
  .d3-tip {
    max-width: 400px;
    padding-left: 0;
  }
  .g-tweet-text {
      font-family: 'Helvetica', arial, sans-serif;
      font-size: 10px;
      font-weight: 100;
      max-width: 300px;
      margin-top: 5px;
      padding-right: 25px;
  }
  .g-trump-mug {
      width: 52px;
      margin-right: 10px;
      border-radius: 4px;
  }
  .g-verified {
      width: 12px;
  }
  .g-username {
      font-weight: bold;
      font-size: 12px;
  }
  .g-handle {
      font-size: 10px;
      opacity: .8;
  }
}
@media (max-width: 768px) {
  #header-main-question {
      font-size: 42px;
      font-weight: 800;
      text-align: center;
  }
  #header-main-answer {
      font-size: 100px;
      font-weight: 800;
      text-align: center;
  }
  .well {
    top: 100px;
  }
}
