@import "bootstrap-sprockets";
@import "bootstrap";
@import "tweets";


body {
  color: #ecf0f1;
  background-color: black;
  background-repeat: no-repeat;
  font-family: 'Changa', sans-serif;
}
.main {
  background-image: url('trump-puke.jpg');
}

.no-tweets {
  color: #ecf0f1;
  background-color: #2980b9;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
}

@media (max-width: 768px) {
  #header-main-question {
      font-size: 42px;
      font-weight: 800;
      text-align: center;
  }
  #header-main-answer {
      font-size: 100px;
      font-weight: 800;
      text-align: center;
  }
  .well {
    top: 100px;
  }
}
