@import "bootstrap-sprockets";
@import "bootstrap";
@import "tweets";


body {
  color: #ecf0f1;
  background-color: black;
  background-image: url('trump-puke.jpg');
  background-repeat: no-repeat;
  font-family: 'Changa', sans-serif;
}


@media (max-width: 768px) {
  #header-main-question {
      font-size: 42px;
      font-weight: 800;
      text-align: center;
  }
  #header-main-answer {
      font-size: 100px;
      font-weight: 800;
      text-align: center;
  }
}
