// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header-main-question {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}
#header-main-answer {
    font-size: 100px;
    font-weight: 800;
    text-align: center;
}

#header-main-year {
  margin-top: 40%;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
}

#subheader-main-year {
  margin-top: -1%;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

#button-main-year {
  margin-top: 1%;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.well {
  color: black;
  top: 50px;
}


.header {
    height: 700px; // needs to be dynamic/responsive
    position: relative;
}

.header-particles, .header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; // of .header
    height: 100%;
}
.header-particles {
    z-index: 0;
}

.header-content {
    z-index: 1;
}
//
// #particles-js canvas {
//   position: absolute;
//   display: block;
// }

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2c2e43;
  background-image: url("trump-main.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;

  &:before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: linear-gradient(to bottom right,#e74c3c,#c0392b);
   opacity: .6;
  }
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.twitter-tweet-photocard {
  margin-top: 5%;
  margin-left: 10%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
