// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header-main-question {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}
#header-main-answer {
    font-size: 100px;
    font-weight: 800;
    text-align: center;
}

.well {
  color: black;
  top: 100px;
}
